/*=====================================
/*  INICIO DE RESETEO DE CSS
esto solo resetea las configuraciones iniciales */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a,
li {
    text-decoration: none;
    list-style: none;
    color: black;
}
/* FIN DE RESETEO DE CSS */
/* INICIO DE DECLARACION DE VARIABLES
         variables con las que se trabajaran */
:root {
    --primarycolor: #313B50;
    --secondarycolor: #ffffff;
    --thirdcolor: #434c61;
    --fourthcolor: #367588;
    --cancel: #56070c;
    --primarytext: "Roboto", sans-serif;
    --secondtext: "Dancing Script", "cursive";
    --shadow: rgba(0, 0, 0, 0.75);
        }
/* FIN DE DECLARACION DE VARIABLES */

.warning {
    width: 100%;
    grid-column: 1/-1;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    margin: auto;
    color: var(--primarycolor);
    padding: 10px 0 0;
}